@font-face {
  font-family: 'ProximaNova-Black';


  src: local('ProximaNova-Black'), 
  url('https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2') format('woff2');
}


*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background: #070506 url("/img/main-bg.png") no-repeat top right 90%;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1060px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 90px;
}

.header__logo {
  margin-right: 70px;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.hero__subtitle {
  font-size: 40px;
  margin-top: 78px;
  line-height: 100%;
  display: block;
  font-family: 'ProximaNova-Black', sans-serif;
  font-weight: 900;
}

.hero__title {
  margin-top: 5px;
  font-size: 64px;
  line-height: 78px;
  font-family: 'ProximaNova-Black', sans-serif;
  font-weight: 900;
  margin-bottom: 25px;
}
.hero__description{
  font-size: 18px;
  line-height: 150%;
  max-width: 572px;
  color: #AFAFAF;
}
.hero__premier{
display: block;
font-size: 18px;
line-height: 150%;
color: #B02000;
margin-bottom: 5px;
}
.hero__date{
  display: block;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 46px;
}

.button-play{
  position: relative;
  border: none;
  background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
border-radius: 300px;
color: #fff;
padding: 25px 35px;
padding-right: 80px;
text-transform: uppercase;
text-decoration: none;
font-size: 14px;
line-height: 16px;
display: inline-block;
}
.button-play::after{
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  background: #fff url(/img/Play.svg) center no-repeat;
  border-radius:50%;
 
right: 0;
top: 0;

}

.button-play::before{
  content: "";
  width: 81px;
  height: 81px;
  background-color: rgba(255,255,255,0.3);
  border-radius:50%;
  position: absolute;
  right: -8px;
  top: -8px;
}
.episodes {
  padding: 60px 0;
}
.episodes__titles{
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
}
.slider {
  display: flex;
  flex-wrap: wrap;
}
.slider__item{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 200px;
  background: rgba(80, 80, 80, 0.86);
box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-bottom: 20px;
margin-right: 20px;
padding: 30px;
transition: ease;
}

.slider__item:hover {
  background: rgba(64, 101, 255, 0.86);
transition: all 0.2s;
}
.slider__image{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}